
html, div {
  padding: 0;
  margin: 0
}

body {
  background-color: black;
  margin: 0;
}

svg {
  overflow: visible;
  border: 10px solid tomato;
  box-sizing: border-box;
}


/*
position: absolute is relative to the nearest non-static ancestor.
position: fixed is relative to theviewport.
position: relative is in the flow, but offset by top

The default position is 'static' so we have to make the
parent be non-static for inner divs to work as desired
*/

div.outer {
  height: 100%;
  width: 100%;
  border: 1px dashed yellow;
  box-sizing: border-box;
  overflow: scroll;
}

#svg-root {
  height: 400%;
  width: 400%;
  top: 200%;
  left: 200%;
  box-sizing: border-box;
  position: relative;
  border: 2px dashed seagreen;
}
